<script>
$(document).ready(function(){
    $(".entreprise").hide();
    $(".forlawyer").hide();
    $(".prive").hide();
    $(".affaire").hide();
    $(".commerce").click(function(){
        $(".entreprise").show();
    });
    $(".avocat").click(function(){
        $(".forlawyer").show();
    });
    $(".checkprive").click(function(){
        $(".prive").show();
    });
    $(".checkaffaire").click(function(){
        $(".affaire").show();
    });
});
</script>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="<%= root_path %>" style='font-family:expletus_sansmedium'>LawMine</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav" style='font-family: expletus_sansregular'>
                <li style=''>
                  <%= link_to "Recherche", prosearch_path %>
                </li>
                <li style=''>
                  <%= link_to "Mes recherches", search_path %>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right" style='font-family: expletus_sansregular'>
                <li style=''>
                  <%= link_to "Julie Delrieu", login_path %>
                </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<div class='container'  style='font-family:expletus_sansmedium;'>
  <h1 class='title-filter'>Filtres de recherche</h1>


  <div class='row center-block f1'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6 '>
      <h3>Je voudrais</h3>
        <label class="checkbox-inline"><input type="checkbox" value="">Une estimation de prix</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Un volume d'affaires</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Un taux de condamnation</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Un rapport complet et détaillé</label>
    </div>
  </div>
  
  <div class='row center-block f1'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6'>
      <h3>Type de droit</h3>
      <div class="form-group">
         <label class="checkbox-inline checkprive"><input type="checkbox" value=""> Privé</label>
         <label class="checkbox-inline "><input type="checkbox" value="">Public</label>
        <div class='prive'>
           <label class="checkbox-inline prive"><input type="checkbox" value=""> Droit civil</label>
           <label class="checkbox-inline prive"><input type="checkbox" value=""> Droit international</label>
           <label class="checkbox-inline prive checkaffaire"><input type="checkbox" value=""> Droit des affaires</label>
           <label class="checkbox-inline prive"><input type="checkbox" value=""> Droit économique</label>
        </div>
        <div class='affaire'>
         <select>
            <option value="volvo">Droit commercial</option>
            <option value="saab">Droit des societés</option>
            <option value="mercedes">Droit social/travail</option>
            <option value="audi">Droit des entreprises en difficulté</option>
            <option value="audi">Droit de la concurrence</option>
            <option value="audi">Droit de la consommation</option>
            <option value="audi">Droit bancaire/assurance</option>
            <option value="audi">Droit financier</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class='row center-block f1'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6'>
      <h3>Type de tribunal</h3>
      <div class="form-group">
         <label class="checkbox-inline commerce"><input type="checkbox" value=""> Tribunal de Commerce</label>
         <label class="checkbox-inline prudhomme"><input type="checkbox" value="">Conseil Prud'hommes</label>
         <label class="checkbox-inline"><input type="checkbox" value="">Tribunal d'Instance</label>
         <label class="checkbox-inline"><input type="checkbox" value=""> Tribunal de Grande Instance</label>
      </div>
    </div>
  </div>

  <div class='row center-block f1 entreprise'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6'>
      <h4> Chiffre d'affaires de l'entreprise attaquée(euros) </h4>
          <select class="form-control" id="sel1">
            <option> 0 - 100 000</option>
            <option> 100 000 - 1 000 000</option>
            <option> 1 000 000 - 5 000 000</option>
            <option> + 5 000 000</option>
          </select>
    </div>
  </div>
  
  <div class='row center-block f1 litige'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6 '>
      <h3>Type de litige</h3>
        <label class="checkbox-inline"><input type="checkbox" value="">Salaires impayés</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Demande d'indemnité</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Contestation d'une sanction</label>
    </div>
  </div>

  <div class='row center-block f1'>
    <div class='col-lg-3'> </div>
    <div class='col-lg-6'>
      <h3>Période</h3>
        De</><br>
        <textarea rows="2" cols="15" placeholder='Mois'></textarea>
        <textarea rows="2" cols="6" placeholder='Année'></textarea>
        <br>A</><br>
        <textarea rows="2" cols="15" placeholder='Mois'></textarea>
        <textarea rows="2" cols="6" placeholder='Année'></textarea>
    </div>
  </div>

  <div class='row center-block f1'>
      <div class='col-lg-3'></div>
      <div class='col-lg-6 '>
        <h3>Couverture géographique</h3>
          <label class="checkbox-inline"><input type="checkbox" value="">Paris</label>
          <label class="checkbox-inline"><input type="checkbox" value="">Nanterre</label>
          <label class="checkbox-inline"><input type="checkbox" value="">Versailles</label>
      </div>
    </div>


  <div class='row center-block forlawyer'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6'>
      <h3>Code, article de loi</h3>
        <div class="form-group">
          <textarea class="form-control" ></textarea>
        </div>
    </div>
  </div>

  <div class='row center-block'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6'>
      <h3>Mots-clés</h3>
        <div class="form-group">
          <textarea class="form-control" ></textarea>
        </div>
    </div>
  </div>

  <div class='row center-block'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6'>
      <a href='<%= profind_path %>' class="btn btn-default center-blok" role="button"> Chercher </a>
    </div>
  </div>
<div>
