<script>
$(document).ready(function(){
    $(".litige").hide();
    $(".pro").hide();
    $(".prudhomme").click(function(){
        $(".litige").show();
    });
    $(".checkpro").click(function(){
        $(".pro").show();
    });
});
</script>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="<%= root_path %>" style='font-family:expletus_sansmedium'>LawMine</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav" style='font-family: expletus_sansregular'>
                <li style=''>
                  <%= link_to "Recherche", prosearch_path %>
                </li>
                <li style=''>
                  <%= link_to "Mes recherches", search_path %>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right" style='font-family: expletus_sansregular'>
                <li style=''>
                  <%= link_to "Connection", login_path %>
                </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


<div class='container'  style='font-family:expletus_sansmedium;'>
  <h1 class='title-filter'>Filtres de recherche</h1>

  <div class='row center-block f1'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6 '>
      <h3>Contentieux</h3>
        <label class="checkbox-inline checkpro"><input type="checkbox" value="">Professionnel</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Privé</label>
      <div class='row center-block f1 pro'>
        <label class="checkbox-inline ici"><input type="checkbox" value="">Salarié</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Indépendant</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Employeur</label>
      </div>
    </div>
  </div>

  <div class='row center-block f1'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6'>
      <h3>Parties prenantes</h3>
      <div class="form-group">
         <label class="checkbox-inline"><input type="checkbox" value=""> Entreprise vs Entreprise</label>
         <label class="checkbox-inline"><input type="checkbox" value="">Entreprise vs salarié</label>
         <label class="checkbox-inline prudhomme"><input type="checkbox" value="">Autre</label>
      </div>
    </div>
  </div>

  <div class='row center-block f1 litige'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6 '>
      <h3>Litiges</h3>
        <label class="checkbox-inline"><input type="checkbox" value="">Salaires impayés</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Demande d'indemnité</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Contestation d'une sanction</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Licenciement abusif</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Discrimination</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Autre</label>
    </div>
  </div>

  <div class='row center-block f1'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6 '>
      <h3>Je voudrais</h3>
        <label class="checkbox-inline"><input type="checkbox" value="">Taux de succès</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Taux d'indémnisation</label>
    </div>
  </div>

  <div class='row center-block'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6'>
      <h3>Mots-clés</h3>
        <div class="form-group">
          <textarea class="form-control" placeholder='Licenciement sans faute, CDI ...' ></textarea>
        </div>
    </div>
  </div>

  <div class='row center-block'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6'>
      <a href='<%= find_path %>' class="btn btn-default center-blok" role="button"> Chercher </a>
    </div>
  </div>
<div>
